.about-section {
	padding: 1rem;
	background-color: var(--light-grey-bg-color);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-wrapper--about {
	margin: 0 auto;
	text-align: center;
	background-color: var(--light-green-bg-color);
	background-image: url(/assets/bg-images/leafbg.svg);
}

.about__title {
	padding: 0.5rem;
	font-family: 'Rowdies', sans-serif;
	font-size: 2.5rem;
	color: var(--black-text-color);
}

.about__description {
	font-size: 1.2rem;
	color: var(--weakblack-text-color);
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 2rem;
}

.about__vision,
.about__history {
	width: 100%;
	background-color: var(--white-bg-color);
	padding: 2rem;
	margin: 2rem 0;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about__vision-title,
.about__history-title {
	font-family: 'Rowdies', sans-serif;
	font-size: 2rem;
	color: var(--black-text-color);
	margin-bottom: 1rem;
}

.about__vision-description,
.about__history-description {
	font-size: 1.1rem;
	color: var(--weakblack-text-color);
	line-height: 1.6;
}

.about__photo img {
	width: 100%;
	max-width: 600px;
	height: auto;
	border-radius: 10px;
	margin-top: 2rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
