.map__title {
    text-transform: uppercase;
    font-size: 2rem;   
}

.map__selection-foodtrucks {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../assets/icons/back-symbol.svg') no-repeat right 15px center;
    background-color: white;
    background-size: 20px;
    font-size: 1.2rem;
}

.map__selection-foodtrucks:focus {
    background: url('../assets/icons/back-symbol-down.svg') no-repeat right 10px center;
    background-color: white;
    background-size: 30px;
}

.map__img-container {
    position: relative;
}

.map__img {
    width: 100%;
    border-radius: 10px;
}

.map__foodtruck-name {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;    
    background-color: var(--medium-grey-bg-color);
}

.map__map-marker {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 2px solid black;
    font-size: 1.3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: red;
}