/* style imports */
@import url('/styles/eta.css');
@import url('/styles/map.css');
@import url('/styles/about.css');
@import url('/styles/indexpage.css');
@import url('/styles/receipt.css');
@import url('/styles/menupage.css');
@import url('/styles/orderspage.css');
@import url('/styles/drop-down-basket.css');
@import url('/styles/profile.css');
@import url('/styles/register.css');
@import url('/styles/order-overview.css');
@import url('/styles/history.css');
@import url('/styles/editMeny.css');

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/* Base */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Variables */
:root {
	--dark-grey-bg-color: #605858;
	--medium-grey-bg-color: #cfcece;
	--light-grey-bg-color: #eeeeee;
	--grey-bg-color: #c2c1c1;
	--white-bg-color: #fff;
	--black-bg-color: #000;
	--dark-black-btn-bg-color: #353131;
	--red-bg-color: #eb5757;
	--black-text-color: #000;
	--weakblack-text-color: #414141;
	--white-text-color: #fff;
	--darker-gray-bg-color: #353131;
	--light-green-bg-color: #8ed8bf;
	--snow-color: #f4f3f1b6;
}

/* Utils */
.content-wrapper {
	padding: 0 1rem 1rem 1rem;
}

.d-none {
	display: none;
}

body {
	font-family: 'Fira Sans', sans-serif;
	min-height: 100vh;
}

.label-opacity {
	display: none;
}

/* ==== INDEX PAGE ==== */

/* ==== Burger Menu Styling ==== */

/* Fullscreen Menu */
.menu__navigation {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--dark-grey-bg-color);
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	z-index: 900;
	justify-content: center;
	flex-direction: column;
	color: var(--white-text-color);
}

.menu__navigation--open {
	transform: translateX(0%);
}

/* Menu Links */
.menu__list {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	list-style: none;
	padding: 0;
	gap: 1.5rem;
}

.menu__item {
	width: 100%;
	margin-left: 0.5rem;
	padding: 0.4rem;
}

.menu__link--logo {
	align-self: center;
	justify-content: center;
}

.menu__logo {
	max-width: 100px;
}

.menu__link {
	text-decoration: none;
	color: var(--white-text-color);
	font-size: 1.3rem;
	font-weight: 600;
	padding: 0.7rem 1.1rem;
	transition: all 0.35s ease-in-out;
	border-left: 4px solid var(--darker-gray-bg-color);
	border-radius: 10px;
	min-width: 70%;
	width: 100%;
}

.menu__link--logout {
	border-color: #ff9292;
	color: #ff9292;
}

.menu__link--active {
	border-color: var(--light-grey-bg-color);
}

.header {
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__nav-menu {
	width: 4rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
	position: relative;
}

.header__title {
	margin-top: 1.5rem;
	color: var(--white-bg-color);
	font-size: 1.2rem;
}

.header__nav-menu-lines,
.header__nav-menu-lines::before,
.header__nav-menu-lines::after {
	z-index: 901;
	display: block;
	position: relative;
	content: '';
	width: 100%;
	height: 0.4rem;
	border-radius: 50px;
	background-color: var(--black-bg-color);
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.header__nav-menu-lines::before {
	top: -1rem;
	position: absolute;
}

.header__nav-menu-lines::after {
	top: 1rem;
	position: absolute;
}

.header__nav-menu-lines.active {
	transform: rotate(45deg);
}

.header__nav-menu-lines.active::before {
	transform: rotate(0);
	top: 0;
}

.header__nav-menu-lines.active::after {
	transform: rotate(90deg);
	top: 0;
}

.header__basket-box {
	background-color: var(--light-grey-bg-color);
	padding: 1rem;
	border-radius: 5px;
	position: relative;
	border: none;
	cursor: pointer;
}

.header__basket-box--border {
	border: 2px solid #353131;
}

.header__basket-item-count {
	position: absolute;
	background-color: var(--red-bg-color);
	color: var(--white-bg-color);
	top: -10%;
	right: -10%;
	width: 1.5rem;
	aspect-ratio: 1;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}